
<!--<div>
    Choose month:
    <select>
        <option value='01'>January</option>
        <option value='02'>Feburary</option>
        <option value='03'>March</option>
        <option value='04'>April</option>
        <option value='05'>May</option>
        <option value='06'>June</option>
        <option value='07'>July</option>
        <option value='08'>August</option>
        <option value='09'>September</option>
        <option value='10'>October</option>
        <option value='11'>November</option>
        <option value='12'>December</option>
    </select> 
</div>-->


<div class="container">
    <h1>Certifications</h1>
    <br>
    <br>
    
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            Choose month:
            <select class="form-control" (change)="onSelectMonth($event.target.value)">
                <option *ngFor="#month of months" [value]="month.id">{{month.name}}</option>
            </select>
            <div>selection={{selectedMonth.name}}</div>
        </div>
        <div class="col-xs-12 col-sm-3">
            Choose year:
            <select class="form-control" (change)="onSelectYear($event.target.value)">
                <option *ngFor="#year of years" [value]="year.id">{{year.name}}</option>
            </select>
            <div>selection={{selectedYear.name}}</div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onTestGet()">test GET</button>
            <button class="btn btn-primary" (click)="onTestPost()">test POST</button>
            <button class="btn btn-primary" (click)="onGenerateCharts()">generate charts</button>
        </div>
    </div>
    <br>
    <strong>json GET response:</strong><br>
    {{testGetData}}
    <br>
    <br>
    <strong>json POST response:</strong><br>
    {{testPostData}}
    <br>
    
    <br>
    <div>Filter Url Built: {{certFilterUrl}}</div><br>
    
    <br>
    <br>
    <div id="bargraphContainer" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 0"></div>
    
    <br>
    <br>
    <div id="pieChartcContainer" style="height: 400px; max-width: 800px; margin: 0 0;"></div>
    
</div>






