<div class="container">
    <h3>Reports</h3>
    
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            Choose a Report:
            <select class="form-control" (change)="onSelectReport($event.target.value)">
                <option *ngFor="#reportType of typeOfReports" 
                    [value]="reportType.id" 
                    [selected]="reportType.id == 1">
                    {{reportType.name}}
                </option>
            </select>
        </div>
    </div>
    <br>
    <br>
    
    <!--<br>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onTestGet()">test GET</button>
            <button class="btn btn-primary" (click)="onTestPost()">test POST</button>
            <button class="btn btn-primary" (click)="onGenerateCharts()">generate charts</button>
        </div>
    </div>
    <br>
    <strong>json GET response:</strong><br>
    {{testGetData}}
    <br>
    <br>
    <strong>json POST response:</strong><br>
    {{testPostData}}
    <br>
    
    <br>
    <div>Filter Url Built: {{certFilterUrl}}</div><br>-->
    
    <!--Certifications-->
    <!--selectedReport.id : {{selectedReport.id}}-->
    <div [ngClass]="{displayNone : selectedReport.id != 1}">
        <div class="row">
            <div class="col-xs-12 col-sm-3 margin-top-down-10">
                Choose month:
                <select class="form-control" (change)="onSelectMonth($event.target.value)">
                    <option *ngFor="#month of months" 
                        [value]="month.id" 
                        [selected]="selectedMonth.id == month.id"
                        [disabled]="month.disabled">
                        {{month.name}}
                    </option>
                </select>
                <!--<div>selection={{selectedMonth.id}}</div>-->
            </div>
            <div class="col-xs-12 col-sm-3 margin-top-down-10">
                Choose year:
                <select class="form-control" (change)="onSelectYear($event.target.value)">
                    <option *ngFor="#year of years" [value]="year.id">{{year.name}}</option>
                </select>
                <!--<div>selection={{selectedYear.name}}</div>-->
            </div>
        </div>
        
        <div id="spin"></div>
        <br>
        <br>
        <div id="bargraphContainer" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 0"></div>
        
        <br>
        <br>
        <div id="pieChartcContainer" style="height: 400px; max-width: 800px; margin: 0 0;"></div>
    </div>    
    
    <br>
    <br>
    <!--Tech Challenges-->
    <div [ngClass]="{displayNone : selectedReport.id != 2}">
        <p>...coming soon!</p>
    </div>    
    
</div>






